<?xml version="1.0"?>
<launch>
  <!-- One-shot launch: Gazebo + indoor world + ASK-3 + nav stack + RViz. -->
  <arg name="rname"  default="ask_3"/>
  <arg name="gazebo_model" default="mydog"/>
  <arg name="world"  default="indoor"/>
  <arg name="world_file" default="$(find dog_hybrid_planner)/worlds/$(arg world).world"/>
  <arg name="map_file" default="$(find dog_hybrid_planner)/maps/map.yaml"/>
  <arg name="x_pos"  default="0.8"/>
  <arg name="y_pos"  default="0.8"/>
  <arg name="z_pos"  default="0.42"/>
  <arg name="yaw"    default="0.7854"/>
  <arg name="paused" default="false"/>
  <arg name="open_rviz" default="true"/>
  <arg name="gazebo_gui" default="false"/>
  <arg name="inflate_radius" default="0.26"/>
  <arg name="robot_radius"   default="0.24"/>
  <arg name="hard_radius"    default="0.13"/>
  <arg name="auto_enable_idle" default="false"/>
  <arg name="enable_low_level_gait" default="true"/>
  <arg name="use_kinematic_driver" default="false"/>
  <arg name="kinematic_fixed_z" default="0.38"/>
  <arg name="use_amcl" default="true"/>
  <arg name="use_fake_scan" default="false"/>

  <include file="$(find dog_hybrid_planner)/launch/dog_indoor_gazebo.launch">
    <arg name="rname"      value="$(arg rname)"/>
    <arg name="world"      value="$(arg world)"/>
    <arg name="world_file" value="$(arg world_file)"/>
    <arg name="x_pos"      value="$(arg x_pos)"/>
    <arg name="y_pos"      value="$(arg y_pos)"/>
    <arg name="z_pos"      value="$(arg z_pos)"/>
    <arg name="yaw"        value="$(arg yaw)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>

  <include file="$(find dog_hybrid_planner)/launch/dog_nav.launch">
    <arg name="rname"     value="$(arg rname)"/>
    <arg name="gazebo_model" value="$(arg gazebo_model)"/>
    <arg name="map_file"  value="$(arg map_file)"/>
    <arg name="open_rviz" value="$(arg open_rviz)"/>
    <arg name="use_amcl"  value="$(arg use_amcl)"/>
    <arg name="use_fake_scan" value="$(arg use_fake_scan)"/>
    <arg name="initial_x" value="$(arg x_pos)"/>
    <arg name="initial_y" value="$(arg y_pos)"/>
    <arg name="initial_yaw" value="$(arg yaw)"/>
    <arg name="inflate_radius" value="$(arg inflate_radius)"/>
    <arg name="robot_radius"   value="$(arg robot_radius)"/>
    <arg name="hard_radius"    value="$(arg hard_radius)"/>
    <arg name="auto_enable_idle" value="$(arg auto_enable_idle)"/>
    <arg name="enable_low_level_gait" value="$(arg enable_low_level_gait)"/>
  </include>

  <node name="dog_kinematic_driver" pkg="dog_hybrid_planner"
        type="dog_kinematic_driver.py" output="screen"
        if="$(arg use_kinematic_driver)">
    <param name="model_name" value="$(arg gazebo_model)"/>
    <param name="max_vx" value="0.35"/>
    <param name="max_vy" value="0.16"/>
    <param name="max_w"  value="0.90"/>
    <param name="fixed_z" value="$(arg kinematic_fixed_z)"/>
    <param name="collision_radius" value="$(arg robot_radius)"/>
    <param name="require_start" value="false"/>
  </node>

</launch>
